.Job{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 15px;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;
}
.Job button:hover{
    background-color: #45A29E;
    color: black;
}

.Job button{
    background-color: #0B0C10;
    border: 1px solid #66fcf1;
    color: #C5C6C7;
    font-size: 17px;
    padding: 6px 8px 6px 8px;
    margin: 0;
}

@media (max-width:550px){
    .Job{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        grid-gap: 5px;
        align-items: center;
        justify-items: center;
        margin: 0;
        padding: 0;
    }
}

.Job input{
    /*width: 10px;
    height: 10px;
    background-color: transparent;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);*/
    display: none;
    /*background-color: transparent;*/
    /*color: black;*/
}

.ProcessedText{
    font-size: 15px;
    color:blue;
}

.SelectionArea{
    display: grid;
    grid-template-rows: auto min-content;
    grid-gap: 2px;
    margin: 0;
    padding: 0;
}

.Selected{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: rgb(5, 2, 2);
    background-color: rgba(106, 118, 131, 50%);
}
