.DragAndDropButton:hover{
    background-color: #45A29E;
    color: black;
}

.DragAndDropButton{
    margin:0;
    box-sizing: border-box;
    background-color: #1F2833;
    border: 1px solid #66fcf1;
    padding: 0px 10px;
    color: #C5C6C7;
}

.DragAndDropButton input{
    display: none;
}

.ChooseFile, .DropFile, .Selected{
    padding: 0;
    margin: 0;
}

.ChooseFile{
    font-size: 24px;
}

.DropFile{
    font-size: 14px;
}
