.Logo {
    background-color: transparent;
    padding: 4px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline;
}

.Logo img {
    height: 100%;
}

@media (max-width: 600px) {
    .Logo img {
        /*height: 60%;*/
    }
}