.Footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 56px;
    align-self: flex-end;

    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #0B0C10;
}

.Footer p{
    color: white;
}

.Footer div{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

@media (max-width: 600px) {
    .Footer{
        display: flex;
        flex-direction: column;
        height: auto;

        background-color: #0B0C10;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;    
        box-sizing: border-box;
    }

    .Footer p{
        color: white;
        font-size: 12px;
    }
    
    .Footer div{
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }

    .Footer select{
        font-size: 12px;
        font-family: inherit;
    }
}