
.DropButton:hover{
    background-color: lightblue;
}


.DropButton{
    margin:0;
    box-sizing: border-box;
    background-color: rgb(128, 175, 124);
    border-radius: 3px;
    padding: 0px 10px;
    box-shadow: 1px 1px rgba(0, 0, 0, 60%);
    color: white;
}

.DropButton input{
    /*width: 10px;
    height: 10px;
    background-color: transparent;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);*/
    display: none;
    /*background-color: transparent;*/
    /*color: black;*/
}

.ChooseFile, .DropFile, .Selected{
    padding: 0;
    margin: 0;
}

.ChooseFile{
    font-size: 24px;
}

.DropFile{
    font-size: 14px;
}

.Selected{
    font-size: 16px;
    color: rgb(9, 114, 9);
}
