.Header{
    height: 56px;
    width: 100%;
    align-self: flex-start;
    margin: 0;
    background-color: #0B0C10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.Header div{
    display: flex;
    flex-direction: row;
}

.Header button:hover{
    background: rgb(57, 202, 195);
}

.Header button{
    background-color: rgb(45, 134, 130);
    border: 1px solid rgb(10, 119, 112);
    box-shadow: inset 0 1px 0 #66bfff;
    color:white;
    margin: 3px;
    border-radius: 3px;
    padding: 10px 10px;

}

@media (max-width: 600px) {
    .Header{
        height: auto;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #0B0C10;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
    }
    
    .Header div{
        display: flex;
        flex-direction: column;
    }
}